@tailwind base;
@tailwind components;
@tailwind utilities;

/* text styles */

.heading1 {
  @apply font-Raleway text-center text-lightViolet text-3xl md:text-5xl 
}

.heading2 {
  @apply font-Raleway text-center text-lightViolet text-2xl md:text-4xl 
}

.heading3 {
  @apply font-Raleway text-center text-lightViolet text-xl md:text-3xl 
}

.heading4 {
  @apply font-Raleway text-center text-lightViolet text-sm md:text-2xl 
}

.heading5 {
  @apply font-Raleway text-center text-lightViolet text-base
}

.body {
  @apply font-Roboto font-normal text-base
}

.numberCard {
  @apply font-Roboto font-black text-2xl
}

.numberCard {
  @apply font-Roboto font-black text-4xl
}

/* buttons */

.buttonPrimary {
  @apply bg-BGdark font-Raleway font-bold text-base text-white px-9 py-2 rounded-full shadow-md shadow-lightViolet
  hover:bg-lightViolet
}

.buttonSecondary {
  @apply font-Raleway font-bold text-base text-white px-9 py-2
  hover:text-lightViolet
}

.buttonSection {
  @apply font-Raleway font-bold text-3xl text-white pl-6 pr-11 py-6 rounded-full shadow-md shadow-lightViolet flex flex-row gap-6
  hover:bg-lightViolet
  hover:text-BGdark
}

.buttonFilter {
  @apply font-Raleway font-bold text-base text-white pl-4 pr-6 py-2 rounded-full shadow-md shadow-lightViolet flex flex-row gap-4
  hover:bg-lightViolet
  hover:text-BGdark
}

.infoTorunaments {
  @apply font-Raleway font-black text-2xl text-white px-4 py-2 flex flex-row gap-6
}

.buttonCarousel {
  @apply bg-blue-950 text-4xl p-2 rounded-3xl w-20 h-20 top-1/2 -translate-y-1/2
}

.buttonCarousel:hover {
  transition: 0.5s;
  background-color: #0d0835;
  box-shadow: inset 0px 0px 25px #1479EA;
  border: 2px solid darkcyan;
}

/* utils */

.bodyContainer {
  @apply px-large
}

body {
  @apply bg-gradient-to-b from-BGlight to-BGdark
}

.loading {
  @apply text-softViolet text-5xl text-center
}

.icon {
  @apply h-8 w-8 md:h-12 md:w-12 p-1 rounded-full bg-lightViolet
}


.description {
  @apply font-Roboto text-base text-left text-white
}